<div
  class="container__big-card mx-5 w-[400px] h-[500px] flex flex-col items-start justify-start"
>
  <a href="#" class="hover:scale-[1.02] transition-all">
    <div class="big-card__img">
      <img
        class="rounded-md h-[220px]"
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        alt="placeholder"
      />
    </div>
    <div class="big-card__title my-4">
      <h1 class="text-[25px]">Cacilds vidis litro abertis.</h1>
    </div>
    <div class="big-card__description">
      <p class="text-[16px] text-slate-500">
        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi
        eu sit. Vide electram sadipscing et per.
      </p>
    </div>
  </a>
</div>
