<div
  class="container__big-card w-full p-4 mb-3 flex flex-col items-start justify-start xl:w-[400px] xl:h-[500px] xl:mx-5"
>
  <a href="#" class="hover:scale-[1.02] transition-all">
    <div class="big-card__img">
      <img
        class="rounded-md h-[250px] max-w-[500px] md:h-[280px]"
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        alt="placeholder"
      />
    </div>
    <div class="big-card__title my-4">
      <h1 class="text-[25px]">Cacilds vidis litro abertis.</h1>
    </div>
    <div class="big-card__description">
      <p class="text-[16px] text-slate-500">
        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi
        eu sit. Vide electram sadipscing et per.
      </p>
    </div>
  </a>
</div>
