<div class="container__content p-4 w-full flex flex-col items-center">
  <div class="content__cover">
    <img
      class="w-[500px] min-w-[400px] h-300px mt-16 rounded-md border-4 border-solid border-slate-400"
      src="{{ imgCover }}"
      alt=""
    />
  </div>
  <a
    class="my-4 inline-block text-white font-bold py-2 px-4 rounded-full bg-gradient-to-r from-blue-600 to-cyan-600 border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out"
    [routerLink]="['']"
  >
    VOLTAR</a
  >
  <div class="content__title mt-4">
    <h1 class="text-[25px]">{{ contentTitle }}</h1>
    <hr />
  </div>
  <div class="content__description my-4 xl:w-[600px]">
    <p
      class="text-[16px] text-slate-500 mb-5 text-justify indent-1 font-extralight"
    >
      {{ contentDescription }}
    </p>
  </div>
</div>
