<body class="w-full overflow-x-hidden">
  <app-menu-title></app-menu-title>
  <div
    class="articles mt-[30px] w-full flex flex-col md:flex-col xl:flex-row justify-center"
  >
    <div *ngIf="dados.length > 0" class="articles__main p-3">
      <app-big-card [Id]="dados[0].id"></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card [Id]="'2'"></app-small-card>
      <app-small-card [Id]="'3'"></app-small-card>
      <app-small-card [Id]="'4'"></app-small-card>
    </div>
  </div>
</body>
