<body class="w-full overflow-x-hidden">
  <div data-aos="fade-in" data-aos-easing="linear" data-aos-duration="3000">
    <app-menu-title></app-menu-title>
  </div>
  <div
    class="articles mt-[30px] w-full flex flex-col md:flex-col xl:flex-row justify-center"
  >
    <div
      *ngIf="dados.length > 0"
      class="articles__main p-3"
      data-aos="fade-right"
      data-aos-duration="2500"
      data-aos-easing="ease-in-sine"
    >
      <app-big-card [Id]="dados[0].id"></app-big-card>
    </div>
    <div
      class="articles__others"
      data-aos="fade-left"
      data-aos-duration="2500"
      data-aos-easing="ease-in-sine"
    >
      <app-small-card [Id]="'2'"></app-small-card>
      <app-small-card [Id]="'3'"></app-small-card>
      <app-small-card [Id]="'4'"></app-small-card>
      <app-small-card [Id]="'5'"></app-small-card>
    </div>
  </div>
</body>
